
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,body {
    font-size: 62.5%;
    min-height: 100%;
}




.navbar-container ul {
  list-style-type:none ;

}

.navbar-container a{
    text-decoration: none;
}





