*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-size: 62.5%;
  min-height: 100%;
}

.main {
  display: grid;
  grid-template-rows: 1fr 13.188rem 8.75rem 18.313rem 1fr;
  grid-auto-flow: row;
  height: 100vh;
  font-size: 14px;
}

.navbar-container,
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.75rem;
}

.navbar-left,
.navbar-right {
  display: inherit;
  width: 50%;
}

.navbar-container a {
  margin: auto 1rem;
  padding: 1rem;
}

.navbar-left,
.footer-left {
  justify-content: flex-start;
}

.navbar-right,
.footer-right {
  justify-content: flex-end;
}

.navbar-container ul {
  list-style-type: none;
  display: inherit;
  align-items: center;
}

.navbar-container a {
  text-decoration: none;
}

.footer {
  padding: 0 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}

.carbon-info {
  min-width: 30%;
}

.footer-left {
  min-width: 30%;
}

.footer-right {
  min-width: 30%;
}
