.navbar ul {
  list-style-type:none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li{
    display: inline-block;
}

/* .navbar-left{
    float: left;
}

.navbar-right{
    float:right;
} */

.navbar a{
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    /* text-align: center; */
}
